font-family: 'Goudy Bookletter 1911', serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Jua', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Arvo', serif;
font-family: 'Pacifico', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Cookie', cursive;
font-family: 'Courgette', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Sacramento', cursive;
font-family: 'Caveat', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Fugaz One', cursive;
